#article-container.post-content h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  -webkit-animation: avatar_turn_around 1s linear infinite;
  -moz-animation: avatar_turn_around 1s linear infinite;
  -o-animation: avatar_turn_around 1s linear infinite;
  -ms-animation: avatar_turn_around 1s linear infinite;
  animation: avatar_turn_around 1s linear infinite;
}
